<configuration>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Ignore default logging fields -->
            <fieldNames>
                <timestamp>[ignore]</timestamp>
                <version>[ignore]</version>
                <logger>[ignore]</logger>
                <thread>[ignore]</thread>
                <level>[ignore]</level>
                <levelValue>[ignore]</levelValue>
            </fieldNames>

            <includeMdc>false</includeMdc>

            <provider class="net.derfruhling.spacemaven.GcpLogger$TraceJsonProvider">

            </provider>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="jsonConsoleAppender"/>
    </root>
</configuration>